.animate-bottom {
    position: relative;
    -webkit-animation-name: animatebottom;
    -webkit-animation-duration: 1s;
    animation-name: animatebottom;
    animation-duration: 1s
}

@-webkit-keyframes animatebottom {
    from { bottom:-100px; opacity:0 } 
    to { bottom:0px; opacity:1 }
}

@keyframes animatebottom { 
    from{ bottom:-100px; opacity:0 } 
    to{ bottom:0; opacity:1 }
}

#content {
    display: block; 
    margin: 50px auto;
    max-width: 1000px;
    min-height: 100px;
    overflow: hidden;
    background-color: #efc6a4;
    border-radius: 25px;
    padding: 20px;
  }